In [90]:
import pymysql
 
# 打开数据库连接
db = pymysql.connect("localhost","root","","DIPRE" )
 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
 
# 使用 execute()  方法执行 SQL 查询 
cursor.execute("SELECT VERSION()")
 
# 使用 fetchone() 方法获取单条数据.
data = cursor.fetchone()

cursor.close()
 
print ("Database version : %s " % data)

Database version : 10.1.9-MariaDB

In [97]:
def Inserte(url , text):
    cursor = db.cursor()
#     sql = "INSERT INTO webpage(url,text) VALUES ('google.com', 's1231 asdfasdf dsa')"
#     print(sql)
#     sql = "INSERT INTO webpage(url,text) VALUES ('"+url+"','"+text+"')"
#     print(sql)
    sql = "INSERT INTO webpage(url,text) VALUES ('%s','%s')" % (url , text)
#     print(sql)
    try:
        cursor.execute(sql)
        db.commit()
        print("添加成功")
    except:
        db.rollback()
        print("添加失败")
    cursor.close()
Inserte("mysql.com","1561sdfsferf asdfasdf a")

添加成功

In [71]:
print("My name is %s and weight is %d kg!" % ('Zara', 21))

My name is Zara and weight is 21 kg!

In [92]:
def Delete(id):
    cursor = db.cursor()
    sql = "delete from webpage where id = %d" % (id)
#     print(sql)
    try:
        cursor.execute(sql)
        db.commit()
        print("删除成功")
    except:
        db.rollback()
        print("删除失败")
    cursor.close()
Delete(5)

删除成功

In [93]:
def Update(id,url,text):
    cursor = db.cursor()
    sql = "update webpage set url = '%s', text = '%s' where id = %d" % (url , text , id)
    print(sql)
    try:
        cursor.execute(sql)
        db.commit()
        print("修改成功")
    except:
        db.rollback()
        print("修改失败")
    cursor.close()
Update(6,"mysql.com","666777aaaaaaa")

update webpage set url = 'mysql.com', text = '666777aaaaaaa' where id = 6
修改成功

In [95]:
def QueryAll():
    cursor = db.cursor()
    sql = "select * from webpage"
    try:
        cursor.execute(sql)
        results = cursor.fetchall()
        for row in results:
            wid = row[0]
            url = row[1]
            text = row[2]
    except:
        db.rollback()
    cursor.close()
    print(results)
QueryAll()

((6, 'mysql.com', '666777aaaaaaa'), (7, 'mysql.com', '1561sdfsferf asdfasdf a'))